* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    background: #1e293b;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

.section {
    padding: 100px 8%;
    text-align: center;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    background: #1e293b;
    padding: 15px 25px;
    border-radius: 8px;
    transition: 0.3s;
}

.skill:hover {
    transform: translateY(-5px);
    background: #38bdf8;
    color: black;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    background: #38bdf8;
    color: black;
}
body{font-size: 60px;}